.hidden {
  display:none;
}

nav {
  background-color: #5097cb;
}
#navigation li:hover {
  color: rgb(250,249,253);
  cursor: pointer;
}

.image-container img {
  height:20em;
  width:20em;
}

#moviesFromSearch_section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* .movieDisplay_div{
  border:2px black solid;
  text-align: center;
} */

#displayWatchedMovies_section,
#displayMovies_section {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.checked {
  color:orange;

}
#landingWelcome_article {
  text-align: center;
}

#search-movie {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /* border: 1px solid #9e9e9e;
  border-radius: 40px; */
}
.ratingStyle {
  color:orange;
}